.pagination {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .pagination-item {
    display: inline-block;
  }
  
  .active {
    background-color: #4AAE9B;
    color: #ffffff;
  }