.control-label{
display: block;
}
.form-control{
    margin-bottom: 2rem;
    width:15rem;
}
select{
    background: #f8f8f8 !important;
    margin-top: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "FFDINWebProLight",sans-serif;
    padding: 0 12px 3px !important;
    font-size: 12px;
    border-radius: 0 !important;
    border: 1px solid #979797 !important;
    height: 41px !important;
  }